* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-button {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  width: 200px;
  border-radius: 15px;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.app-container__card,
img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 314px;
  width: 226px;
}

.app-container__messages {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.app-container__messages p:first-child,
.app-container__messages p:last-child {
  width: 80%;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  opacity: 0;
}

.app-container__messages p:first-child {
  background: green;
}

.app-container__messages p:last-child {
  background: orange;
}

.app-container__messages p:first-child.active,
.app-container__messages p:last-child.active {
  opacity: 1;
  font-size: 23px;
  font-weight: 600;
}
